<section
  vt_imports="['components/articles/vt_regular.html', 'components/articles/vt_from.html',
               'components/articles/vt_from_file.html', 'components/articles/vt_from_md.html',
               'components/articles/vt_from_api.html', 'components/articles/vt_map_from_list.html']"
  id="passing-data-to-components"
>
  <h3>How to pass data to a component:</h3>
  Now that we have understood how to import a component into another component,
  let's see the various methods of passing data into the component without
  having to repeat yourself(or copy and pasting).
  <br /><br />
  <ol class="d-flex flex-column gap-5">
    <li>
      <vt_regular />
    </li>
    <li>
      <vt_from />
    </li>
    <li>
      <vt_from_file />
    </li>
    <li>
      <vt_from_md />
    </li>
    <li>
      <vt_from_api />
    </li>
    <li>
      <vt_map_from_list />
    </li>
  </ol>
</section>
