<section>
  <h2 id="installation">Installation</h2>
  <ol>
    <li>
      <p>Create a working directory and <code>cd</code> into it.</p>
      <p>
        <code
          >mkdir vanilla-test <br />
          cd vanilla-test</code
        >
      </p>
    </li>
    <li>
      <p>pip install the package from github into the working directory:</p>
      <code>pip install git+https://github.com/vanilla-templates/vt.git</code>
    </li>
    <li>
      Create <code>.gitignore</code> in working directory and add the
      <code>vt</code> folder into it.
    </li>
    <li>
      create public directory (<code>NOTE:</code>
      <strong>We insist you call it public</strong>) for static files.
    </li>
    <p><code>mkdir public</code></p>
    <li>
      create an <code>index.html</code> and start creating
      <code>vanilla templates</code>
    </li>
    <li>
      Build or serve your work on a pre-configured port (<b>2220</b>).<br />
      <code>python -m vt.serve</code> - for serving<br />
      <code>python -m vt.building</code> - for generating static site in the
      build directory
    </li>
  </ol>
</section>
