<section id="SSR">
  <h3>Server Side Rendering</h3>
  <p>
    Vanilla Templates uses a <code>Flask</code> server activated by
    <code>python3 -m vt.serve</code> for developement and debugging.
  </p>
  <p>
    For the most part, Vanilla Templates SSR compiles the components and renders
    the website without added backend features like database data injection.
  </p>
  <p>
    This leads to the fact that most Server Side Features are still largely in
    development 😢, but we hope the features above suffice enough to bootstrap
    your 'Javascript-frameworkless'😂 web developemnt.
  </p>
</section>
