<section id="getting-started">
  <h3>What is <code>Vanilla Templates</code>?</h3>
  <pre
    class="d-flex align-items-center justify-content-center"
    style="width: max-content; color: #d6488f"
  >
    <code class="m-3">&lt;vt_user name="Alison Bob" age="33" role="Admin" /&gt;</code>
  </pre>
  <code>Vanilla Templates</code> is a:
  <ol>
    <li>Templating mark-up language,</li>
    <li>Static Site Generator (SSG)</li>
    <li>and a Server Side Rendering (SSR) engine.</li>
  </ol>
  developed in <code>Python</code>.
  <h3 class="mt-3">Why <code>Vanilla Templates</code>?</h3>
  <p>
    In this new age of web development, and particularly in the front-end side,
    we are bombarded with a plethora of options in the form of frameworks, tools
    and technologies which cut across client-side rendering, server-side
    rendering and what have you. A good example is
    <code>React</code>, which has become the most popular front-end.
  </p>
  <p>
    As a passinate developer who regularly makes websites ranging from fun silly
    websites, all the way to full stack dynamic websites, we get to play around
    with these tools as we learn, and in the process discover what we like and
    what we don't like.
  </p>
  <p>
    Sometimes you need a full-on framework like <code>NextJS</code> or go the
    vanilla route (raw html, css and Javascript). I took it upon myself to
    bridge this gap by creating <code>Vanilla Templates</code>, a templating
    language which isn't coupled to any framework or library (kind of how
    <code>jinja 2</code> is coupled with <code>Flask</code>).
  </p>
</section>
