<article id="vt_frag">
  <h4><code>vt_frag</code></h4>
  <p>
    By now, you have seen the <code>&lt;vt_frag>&lt;/vt_frag></code> in the
    various examples shown above.
  </p>
  <p>
    The <code>vt_frag</code> (<b>vt fragment in full</b>)is a special tag in
    <code>Vanilla Templates</code> used when you want to wrap a group of tags
    but you don't the tag you wrap with to end up in the final build.
  </p>
  <p>
    In short, when <code>vt</code> is building your site, and it comes across
    this tag, it <b>'unwraps'</b> and renders it's children.
  </p>
</article>
