<article
  id="mapping-over-data"
  vt_imports="['components/divs/vt_map_from.html']"
>
  <h5>Mapping over data records</h5>
  <p>
    Every once in a while you'll need to create <code>html</code> elements which
    have recurring properties, and without a proper programmatic framework,
    you'll be forced to write the same pieces of text over and over.
  </p>
  <p>
    With a variety of the mapping tags that <code>vt</code> provides, you can
    map over a <code>list of dictionaries</code> (in <code>json format</code>)
    without having to copy and paste the same element over and again.
  </p>
  <ul>
    <li>
      <vt_map_from />
    </li>
  </ul>
</article>
