<div vt_imports="['components/vt_todos.html']">
  <h4 id="vt:map-from"><code>vt:map-from</code></h4>
  <p>
    The first attribute in in the special suite of the mapping attributes is
    <code>vt:map-from</code>, which as stated above, takes in a list of json
    objects (parsed to dicts in python).
  </p>
  <p>For example, consider the component:</p>
  <pre>
        <code>
            &lt;vt_todos vt:map-from='[{
                "userId": 1,
                "id": 1,
                "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
                "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
                }, {
                "userId": 1,
                "id": 2,
                "title": "qui est esse",
                "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
                }, {
                "userId": 1,
                "id": 3,
                "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
                "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
                }]' /&gt;
        </code>
    </pre>
  and its corresponding template below:
  <pre>
    <code>

      &lt;div class="card m-2 p-2">
        &lt;div class="card-header">
          &lt;h3><span class="green">{title}</span>&lt;/h3>
        &lt;/div>
        &lt;div class="card-body">
            &lt;div>UserId: <span class="green">{userId}</span>&lt;/div>
            &lt;p><span class="green">{body}</span>&lt;/p>
        &lt;/div>
        &lt;div class="card-footer">
            &lt;small>id: <span class="green">{id}</span>&lt;/small>
        &lt;/div>
      &lt;/div>

    </code>
  </pre>
  <p class="mt">
    These are rendered cards (<code
      >find the code to this in the github repo)</code
    >:
  </p>
  <div
    style="height: 500px; background-color: #f3f3f3; overflow-y: scroll"
    class="p-2"
  >
    <vt_todos
      vt:map-from='[{
        "userId": 1,
        "id": 1,
        "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
        "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
        }, {
        "userId": 1,
        "id": 2,
        "title": "qui est esse",
        "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
        }, {
        "userId": 1,
        "id": 3,
        "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
        "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
        }, {
        "userId": 1,
        "id": 4,
        "title": "eum et est occaecati",
        "body": "ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit"
        }, {
        "userId": 1,
        "id": 5,
        "title": "nesciunt quas odio",
        "body": "repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque"
        }]'
    />
  </div>
</div>
