<!DOCTYPE html>
<html
  lang="en"
  vt_imports="['components/scripts.html','components/vt_header.html' ]"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A templating engine and Static Site Generator"
    />
    <meta
      property="og:image"
      content="https://github.com/Vanilla-Templates/vt_docs/blob/main/images/logo_bg.jpg?raw=true"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo_bg.jpg" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Vanilla Templates | {page}</title>
  </head>
  <body>
    <div class="container">
      <vt_header
        title="Vanilla Templates"
        version="1.0.0"
        support-link="https://www.buymeacoffee.com/fredrickkyeki"
      />
      <vt_child />
    </div>
  </body>
  <scripts />
</html>
