<header
  vt_imports="['components/vt_gh.html']"
  class="d-flex justify-content-between"
>
  <a id="#" class="d-flex m-3 gap-2 align-items-end" href="/">
    <img class="logo" src="images/logo.png" />
    <span class=""><h3>{title}</h3></span>
  </a>
  <div class="d-flex align-items-center gap-4">
    <div><a href="#">❤ Support vt</a></div>
    <span
      style="width: 1px; height: 30%; background-color: rgb(190, 190, 190)"
    ></span>
    <div class="d-flex align-items-center">
      Latest version: <code> {version} </code>
    </div>
  </div>
  <vt_gh gh-link="https://github.com/vanilla-templates/vt_docs" />
</header>
