<aside class="{class_}">
  <ul>
    <li>
      <a href="#getting-started">Getting Started</a>
      <ul>
        <li><a href="#installation">Installation</a></li>
      </ul>
    </li>
    <li>
      <a href="#usage">Usage - How <code>vt</code> works</a>
      <ul>
        <li><a href="#vt_imports">vt_imports</a></li>
      </ul>
    </li>
    <li>
      <a href="#passing-data-to-components"
        >Passing data to <code>vt</code> components:</a
      >
      <ul>
        <li>
          <a href="#regular-vt-props">Using regular <code>vt</code> props</a>
        </li>
        <li><a href="#vt:from">vt:from</a></li>
        <li><a href="#vt:from-file">vt:from-file</a></li>
        <li><a href="#vt:from-md">vt:from-md</a></li>
        <li><a href="#vt:from-api">vt:from-api</a></li>
        <li>
          <a href="#mapping-over-data">Mapping over a list of data:</a>
        </li>
        <ul>
          <li><a href="#vt:map-from">vt:map-from</a></li>
          <li><a href="#vt:map-from-file">vt:map-from-file</a></li>
          <li><a href="#vt:map-from-api">vt:map-from-api</a></li>
        </ul>
      </ul>
    </li>
    <li>
      <a href="#prop-accessor">Prop Accessor '::'</a>
    </li>
    <li>
      <a href="#other-features">Other vt Features</a>
      <ul>
        <li><a href="in-place">In-place components</a></li>
      </ul>
    </li>
    <li>
      <a href="#special-attributes">Special 'vt' atributes and tags:</a>
      <ul>
        <li><a href="#vt:parent">vt:parent</a></li>
        <li><a href="#vt_frag">vt_frag</a></li>
        <li><a href="#vt_child">vt_child</a></li>
      </ul>
    </li>
    <li>
      <a href="#SSG">Static Site Generation</a>
      <ul>
        <li><code>python3 -m vt.build</code></li>
      </ul>
    </li>
    <li>
      <a href="#SSR">Server Side Rendering</a>
      <ul>
        <li>
          <code>python3 -m vt.serve</code>
        </li>
      </ul>
    </li>
  </ul>
  <strong>Latest Version: <code>{version}</code></strong>
</aside>
